.app-content::-webkit-scrollbar {
  width: 5px;
}

.app-content::-webkit-scrollbar-track {
  background: transparent;
}

.app-content::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.3);
  border-radius: 20px;
  border: 3px solid transparent;
}

.app-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 116, 139, 0.5);
}

.pet-selector::-webkit-scrollbar {
  display: none;
}

.pet-selector {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}